[Unit]
Description=Run my Python script standings
Wants=mlb_standings.timer

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cd /home/pi/git/mlb_display && /home/pi/.poetry/bin/poetry run python src/standings.py  > /home/pi/Desktop/mlb_standings.log 2>&1"

[Install]
WantedBy=multi-user.target
