[Unit]
Description=Run a script every hour

[Timer]
OnCalendar=hourly

# The timer is activated as soon as it's enabled
Persistent=true

[Install]
# Ensures the timer is started when the user's environment is set up
WantedBy=timers.target


