[Unit]
Description=Timer to schedule my Python script

[Timer]
# Run once a day at 7:00 AM

OnCalendar=*-*-* 11..23:00/1
OnCalendar=*-*-* 00..01:59/1
# Every 15 minutes from 2:15 AM to 10:45 AM
OnCalendar=*-*-* 02,03,04,05,06,07,08,09,10:00/15

# The timer is activated as soon as it's enabled
Persistent=true

[Install]
# Ensures the timer is started when the user's environment is set up
WantedBy=timers.target


