[Unit]
Description=Run my Python script
Wants=mlb_display.timer

[Service]
Type=oneshot
ExecStart=/home/pi/git/mlb_display/run_mlb_display.sh

[Install]
WantedBy=multi-user.target
